@import 'variables';

:root {
  --bentoClock: {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: var(--spacingSmMd);

    & .hex {
      stroke: #000000;
      stroke-width: 10px;
      stroke-linecap: round;
      fill: transparent;
      transform: rotate(30deg) translateY(10px);

      /* relative values not supported well, using pixels for best cross browser
      compatibility */
      transform-origin: 150px 150px;
    }

    & .hours-hand,
    & .minutes-hand,
    & .seconds-hand {
      stroke-width: 10px;
      stroke: #000000;
      stroke-linecap: round;
      transform-origin: bottom;
    }
  }
}
