:root {
  /* Shades */
  --colorBlack: #0c0c0c;
  --colorDarkerGrey: #484848;
  --colorDarkGrey: #8d8d8d;
  --colorGrey: #cecece;
  --colorLightGrey: #eeeeee;
  --colorLighterGrey: #f0f0f0;
  --colorWhite: #ffffff;

  /* Alert Colors */
  --colorSuccess: #4caf50;
  --colorWarning: #ffc107;
  --colorInfo: #eeeeee;
  --colorError: #f44336;

  /* Transparent Colors */
  --colorTransparent: #00000000;
  --colorDarkTransparent: #000000ee;

  /* Application Colors */
  --colorPrimaryDark: #2704e1;
  --colorPrimary: #0017ff;
  --colorAccent: #ff5252;
  --colorTextLight: var(--colorWhite);
  --colorTextMedium: var(--colorDarkGrey);
  --colorTextDark: var(--colorDarkerGrey);
  --colorTextBlack: var(--colorBlack);
  --colorDivider: var(--colorLightGrey);
  --colorBodyBg: var(--colorLightGrey);
}
