:root {
  --typePageTitle: {
    font-size: responsive 2.6rem 4.2rem;
    color: var(--colorTextBlack);
    font-family:
      Helvetica,
      Verdana,
      Arial,
      sans-serif;
    font-weight: 700;
  }

  --typePageSubTitle: {
    font-size: responsive 2.4rem 3.6rem;
    color: var(--colorTextBlack);
    font-weight: 300;
    font-family:
      Helvetica,
      Verdana,
      Arial,
      sans-serif;
  }

  --typePanelTitle: {
    font-size: responsive 1.8rem 2rem;
    color: var(--colorTextDark);
    font-weight: 700;
    font-family:
      Helvetica,
      Verdana,
      Arial,
      sans-serif;
  }

  --typeMainNav: {
    font-size: 2rem;
    color: var(--colorTextBlack);
    font-weight: 300;
    font-family:
      Helvetica,
      Verdana,
      Arial,
      sans-serif;
  }

  --typeSubNav: {
    font-size: 1.4rem;
    line-height: 1;
    color: var(--colorTextMedium);
    font-weight: bold;
    font-family:
      Helvetica,
      Verdana,
      Arial,
      sans-serif;
  }

  --typeBody: {
    font-size: responsive 1.5rem 1.7rem;
    color: var(--colorTextDark);
    font-weight: 300;
    font-family:
      'Roboto Mono',
      Helvetica,
      Verdana,
      Arial,
      monospace;
  }

  --typeLabel: {
    font-size: responsive 1.2rem 1.4rem;
    color: var(--colorTextMedium);
    font-weight: normal;
    font-family:
      Helvetica,
      Verdana,
      Arial,
      sans-serif;
  }

  --typeTiny: {
    font-size: responsive 1.1rem 1.2rem;
    line-height: 1;
    margin: var(--spacingMd) 0;
    color: var(--colorTextDark);
    font-weight: 400;
    font-family:
      Helvetica,
      Verdana,
      Arial,
      sans-serif;
  }

  --baseline: {
    font-size: responsive 1.6rem 1.8rem;
    line-height: 1;
    color: var(--colorTextMedium);
    font-weight: normal;
    font-family:
      Helvetica,
      Verdana,
      Arial,
      sans-serif;
  }
}
