@import 'variables';
@import '../buttons/buttons';

.form-container {
  margin-bottom: var(--spacingMd);

  & .form-panel {
    margin: var(--spacingMd) 0;
    padding: var(--spacingSm);
    background-color: var(--colorWhite);

    @media (--minMedium) {
      padding: var(--spacingMd);
    }

    & h3,
    & .h3 {
      line-height: 1.5;
      position: relative;
      top: -var(--spacingSm);
      left: -var(--spacingSm);
      padding: 0 var(--spacingSm) 0 0;
      display: inline-block;
      background-color: var(--colorBodyBg);
      margin: 0;

      @media (--minMedium) {
        top: -var(--spacingMd);
        left: -var(--spacingMd);
      }
    }
  }

  @apply --animatingButtonSettings;
}

.flat-button {
  @apply --primaryButton;

  & i {
    margin-right: var(--spacingSm);
  }
}

.multi-select {
  margin: var(--spacingMd) 0;

  & label {
    vertical-align: top;
    margin-right: var(--spacingMd);
  }
}
