@import 'variables';

header {
  @media (--minMedium) {
    display: none;
  }

  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--colorWhite);
  padding: var(--spacingSm) var(--spacingMd);
  display: flex;
  align-items: center;
  z-index: var(--zHeader);
  color: var(--colorPrimary);

  & .title {
    flex-grow: 1;
    margin: 0;

    & a {
      color: var(--colorPrimary);
    }

    & a::after {
      display: none;
    }
  }

  & .user-nav {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    margin: 0;
    text-align: right;
  }

  & .burger {
    user-select: none;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    font-size: 4rem;
    cursor: pointer;
    position: relative;
  }
}
