@font-face {
  font-family: 'bentobox';
  src: url('./bentobox.eot?akq4uk');
  src:
    url('./bentobox.eot?akq4uk#iefix') format('embedded-opentype'),
    url('./bentobox.ttf?akq4uk') format('truetype'),
    url('./bentobox.woff?akq4uk') format('woff'),
    url('./bentobox.svg?akq4uk#bentobox') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bentobox' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-r-hover .path1::before {
  content: "\e901";
  color: rgb(0, 0, 0);
}

.icon-arrow-r-hover .path2::before {
  content: "\e915";
  margin-left: -1.2080078125em;
  color: rgb(12, 12, 12);
}

.icon-arrow-l::before {
  content: "\e900";
}

.icon-arrow-r::before {
  content: "\e902";
}

.icon-ascending-sorting::before {
  content: "\e903";
}

.icon-bold::before {
  content: "\e904";
}

.icon-bulleted-list::before {
  content: "\e905";
}

.icon-close::before {
  content: "\e906";
}

.icon-dasboard-icon::before {
  content: "\e907";
}

.icon-descending-sorting::before {
  content: "\e908";
}

.icon-drag::before {
  content: "\e909";
}

.icon-expand-arrow::before {
  content: "\e90a";
}

.icon-italic::before {
  content: "\e90b";
}

.icon-link::before {
  content: "\e90c";
}

.icon-logout-rounded-down::before {
  content: "\e90d";
}

.icon-models-icon::before {
  content: "\e90e";
}

.icon-numbered-list::before {
  content: "\e90f";
}

.icon-Plus::before {
  content: "\e910";
}

.icon-redo::before {
  content: "\e911";
}

.icon-refresh::before {
  content: "\e912";
}

.icon-search::before {
  content: "\e913";
}

.icon-undo::before {
  content: "\e914";
}

