@import 'variables';

/* it's free real estate */

.primary-button {
  overflow: hidden;
  transition: padding 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  & span {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  &.fab-state {
    @apply --lightBoxShadow;

    padding: 0 1.85rem;
    transition: padding 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    & i {
      transition: margin-right 0.3s ease-in-out;
      margin-right: 5rem;
    }

    & span {
      opacity: 0;
    }
  }
}

